
@model SepetIndexVM

@{
    ViewBag.HeadTitle = "Sepet";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="container">
    <div class="card shopping-cart">
        <div class="card-header bg-dark text-light">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            Alışveriş Sepetim
            <a href="@Url.Action("Index","Home")" class="btn btn-outline-info btn-sm pull-right">Alışverişe Devam Et</a>
            <div class="clearfix"></div>
        </div>
        <div class="card-body">

            @foreach (var oge in Model.Ogeler)
            {
                <!-- PRODUCT -->
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-2 text-center">
                        <img class="img-responsive" src="~/img/@(oge.ResimAd ?? "gorselyok.jpg")" alt="prewiew" width="80" height="80">
                    </div>
                    <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
                        <h4 class="product-name"><strong>@oge.UrunAd</strong></h4>
                    </div>
                    <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
                        <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
                            <h6><strong>@oge.BirimFiyat <span class="text-muted">x</span></strong></h6>
                        </div>
                        <div class="col-4 col-sm-4 col-md-4">
                            <div class="quantity">
                                <input type="button" value="+" class="plus">
                                <input type="number" step="1" max="99" min="1" value="@oge.Adet" title="Qty" class="qty"
                                       size="4">
                                <input type="button" value="-" class="minus">
                            </div>
                        </div>
                        <div class="col-2 col-sm-2 col-md-2 text-right">

                            <form action="@Url.Action("Sil","Sepet")" method="post">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="sepetOgeId" value="@oge.Id" />
                                <button type="submit" class="btn btn-outline-danger btn-xs">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </form>

                        </div>
                    </div>
                </div>
                <hr>
                <!-- END PRODUCT -->
            }

            @*<div class="pull-right">
                    <a href="" class="btn btn-outline-secondary pull-right">
                        Sepeti Güncelle
                    </a>
                </div>*@

        </div>
        <div class="card-footer">

            @*<div class="coupon col-md-5 col-sm-5 no-padding-left pull-left">
                    <div class="row">
                        <div class="col-6">
                            <input type="text" class="form-control" placeholder="cupone code">
                        </div>
                        <div class="col-6">
                            <input type="submit" class="btn btn-default" value="Use cupone">
                        </div>
                    </div>
                </div>*@

            <div class="pull-right" style="margin: 10px">
                <a href="@Url.Action("OdemeYap", "Sepet")" class="btn btn-success pull-right">Ödeme Yap</a>
                <div class="pull-right" style="margin: 5px">
                    Toplam Tutar: <b>@Model.ToplamTutar₺</b>
                </div>
            </div>
        </div>
    </div>
</div>



