
@model Urun

@{
    ViewBag.Title = "Ürün Düzenle";
}

<div class="container">

    <h2>Ürün Düzenle</h2>

    @using (Html.BeginForm("Duzenle", "Urunler", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(x => x.Id)

        <div class="form-group">
            @Html.LabelFor(x => x.KategoriId)
            @Html.DropDownListFor(x => x.KategoriId, null, "Seçiniz", new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.KategoriId, null, new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.UrunAd)
            @Html.TextBoxFor(x => x.UrunAd, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.UrunAd, null, new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Birimfiyat)
            @Html.TextBoxFor(x => x.Birimfiyat, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Birimfiyat, null, new { @class = "text-danger" })
        </div>


        var resimAd = string.IsNullOrEmpty(Model.ResimAd) ? "gorselyok.jpg" : Model.ResimAd;


        <div class="form-group">
            @Html.HiddenFor(x => x.ResimAd)
            <label for="dosya">Ürün Resmi</label><br />
            <img src="~/img/@resimAd" height="100" class="mb-2" /><br />
            <input type="file" class="form-control-file" name="dosya" id="dosya" />
            @Html.ValidationMessageFor(x => x.ResimAd, null, new { @class = "text-danger" })
        </div>

        <button type="submit" class="btn btn-success mb-2">Kaydet</button>

    }

</div>





