

@using PagedList.Mvc

@model HomeIndexVM

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.HeadTitle = "Anasayfa";
}

<link href="~/Content/PagedList.css" rel="stylesheet" />

<section class="jumbotron text-center d-none">
    <div class="container">
        <h1 class="jumbotron-heading">E-COMMERCE CATEGORY</h1>
        <p class="lead text-muted mb-0">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte...</p>
    </div>
</section>
<div class="container mt-4">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        @Html.ActionLink("Anasayfa", "Index", "Home")
                    </li>

                    @if (!string.IsNullOrEmpty(Model.SeciliKategoriAd))
                    {
                        <li class="breadcrumb-item">
                            @Html.ActionLink(Model.SeciliKategoriAd, "Index", "Home", new { cid = Model.SeciliKategoriId }, null)
                        </li>
                    }

                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        @*Sol Çubuk Başlangıç*@
        <div class="col-12 col-sm-5 col-md-3">
            <div class="card bg-light mb-3">
                <div class="card-header bg-primary text-white"><i class="fa fa-list"></i> Kategoriler</div>

                <ul class="list-group category_block">

                    <li class="list-group-item @(-1 == Model.SeciliKategoriId ? "selected" : "")">
                        <a href="@Url.Action("Index", "Home")">Tümü</a>
                    </li>

                    @foreach (Kategori kategori in Model.Kategoriler)
                    {
                        <li class="list-group-item @(kategori.Id == Model.SeciliKategoriId ? "selected" : "")">
                            <a href="@Url.Action("Index", "Home", new { cid = kategori.Id})">@kategori.KategoriAd</a>
                        </li>
                    }

                </ul>

            </div>
            <div class="card bg-light mb-3">
                <div class="card-header bg-success text-white">Yeni Eklenen</div>
                <div class="card-body">
                    <img class="img-fluid" src="https://dummyimage.com/600x400/55595c/fff" />
                    <h5 class="card-title">Title</h5>

                    <p class="bloc_left_price">99.00 $</p>
                </div>
            </div>
        </div>

        @*İkinci Sütun Başlangıç*@
        <div class="col">

            <div class="row">
                <form action="@Url.Action("Index", "Home")" method="get">
                    <input type="hidden" name="cid" value="@Model.SeciliKategoriId" />

                    @Html.DropDownList("sirala", null, htmlAttributes: new { @class = "form-control ml-3 mr-3 mb-3", onchange = "this.form.submit()" })

                    @*<select name="sirala" onchange="this.form.submit()" class="form-control ml-3 mr-3 mb-3">
                            <option value="az">A-Z Sırala</option>
                            <option value="fiyatArtan">Fiyat Artan</option>
                            <option value="fiyatAzalan">Fiyat Azalan</option>
                        </select>*@
                </form>
            </div>

            <div class="row">

                @foreach (Urun urun in Model.Urunler)
                {
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card mb-4">
                            <img class="card-img-top" src="~/img/@(string.IsNullOrEmpty(urun.ResimAd) ? "gorselyok.jpg" : urun.ResimAd)" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title"><a href="product.html" title="View Product">@urun.UrunAd</a></h4>
                                <div class="row">
                                    <div class="col">
                                        <p class="btn btn-danger btn-block">@string.Format("{0:0.00}₺", urun.Birimfiyat)</p>
                                    </div>
                                    <div class="col">
                                        <a href="#" data-sepet-ekle="@urun.Id" class="btn btn-success btn-block">
                                            <i class="fas fa-cart-plus"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                }

                @*Sayfalandırma Başlangıç*@

                @Html.PagedListPager(Model.Urunler, page => Url.Action("Index",
                     new { page , cid = Model.SeciliKategoriId, ara = ViewBag.ara, sirala = ViewBag.siralaSecenek }), new PagedListRenderOptions { MaximumPageNumbersToDisplay = 6 })

            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>

        $(function () {

            $("a[data-sepet-ekle]").click(function (event) {

                // a linklerine tıklayınca hrefine gitmekten vazgeç

                event.preventDefault();

                var urunId = $(this).attr("data-sepet-ekle");

                $.ajax({

                    url: "/Sepet/Ekle",
                    type: "POST",
                    data: { urunId: urunId, adet: 1 },
                    success: function (sonuc) {
                        $("#NavCartCount").html(sonuc.SepetUrunAdet);
                    }

                });

            });

        });

    </script>
}

